:root {
  --background-color: #000000;
  --font-color: #6c757d;
  --primary-color: #f40046;
  --secondary-color: #c10035;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  background: var(--background-color);
  gap: 1.5rem;
  padding: 0.5rem 1.5rem;
}

#header-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var;
}

#header-nav ul {
  display: flex;
  color: var(--font-color);
  list-style: none;
  gap: 0.8rem;
}

#header-logo {
  width: 3.5rem;
  height: fit-content;
  border-radius: 100%;
}

#header-nav ul li a {
  color: white;
  &:first-child {
    color: var(--primary-color);
  }
  font-weight: bold;
  text-decoration: none; /* tira o link azul das tags <a> */
}

#header-search-bar {
  position: relative;
}

#header-search-bar input {
  border-radius: 6%;
  height: 1.5rem;
  width: 18rem;
  padding: 0 1rem;

  & :focus::placeholder {
    position: absolute;
    bottom: 1rem;
    right: 10rem;
    transform: scaleX(0.5);
    transform: scaleY();
  }
}

#header-search-bar button {
  height: 1.8rem;
  width: 2rem;
  border-radius: 6%;
  padding: 1.5rem 0.5rem;
  border: none;
  position: absolute;
  right: 0.08rem;
  top: 0.1rem;

  &:activate {
    transform: scale(0.9);
  }
}

#search-icon {
  width: 0.8rem;
}

/* === CARROSSEL*/

.carousel {
  position: relative;
  width: 100%;
  max-width: 1700px; /* ou o valor que quiser */
  height: 600px; /* altura tipo banner menor */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 40px;
}

.carousel figure {
  display: flex;
  margin: 0;
  padding: 0;
  animation: slide 16s infinite;
}

.carousel .slide {
  flex: 0 0 100%;
  height: 100%;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* garante que toda a imagem apareça, mesmo que sobre espaço. */
  background-color: #000; /* cor de fundo para bordas geradas por contain. */
  display: block;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}

.indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: highlight 16s infinite;
}

.carousel:hover .carousel-track,
.carousel:hover .dot {
  animation-play-state: paused; /* Quando o mouse está sobre o carrossel, a animação para. */
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 4s;
}
.dot:nth-child(3) {
  animation-delay: 8s;
}
.dot:nth-child(4) {
  animation-delay: 12s;
}

@keyframes highlight {
  0%,
  100% {
    background: rgba(255, 255, 255, 0.5);
  }
  10%,
  20% {
    background: white;
  }
}

/* container CATEGORIAS */
.container-piercings {
  display: flex;
  flex-direction: column; /* empilha o título acima */
  justify-content: center;
  align-items: center;
  /*height: 100vh;*/
}

.titulo-piercings {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 2rem;
  width: 100%;
}

.categorias {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.categorias img {
  width: 200px;
  height: 200px;
  margin-top: 2px;
  border-radius: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.categorias img:hover {
  transform: scale(1.05);
}
