:root {
  --background-color: #000000;
  --font-color: #6c757d;
  --primary-color: #f40046;
  --secondary-color: #c10035;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  align-items: center;
}

header {
  border-bottom: 1px solid #333; /* Linha inferior para destacar header */
}

nav {
  /* Layout da barra de navegação */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0.2rem;
}

nav img {
  height: 50px;
  margin-bottom: 1rem;
}

#logo {
  /* Logo centralizado e grande */
  height: 100px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.search-container {
  /* Input e botão de busca */
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 560px;
}

.search-container input {
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 6px 0 0 6px;
  background: white;
  color: #151414;
}
.search-container button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0 6px 6px 0;
  background: #ccd0d8;
  cursor: pointer;
}
.cart-container {
  position: relative; /* Posicionamento do carrinho */
}

.cart-container img {
  height: 100px;
}


 /* Menu de navegação horizontal com espaçamento */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 1px solid #333;
}
.menu a {
  color: rgb(16, 15, 15);
  text-decoration: none;
  transition: color 0.2s;
}
.menu a:hover {
  color: #afb7c1;
}
@media(min-width: 768px) {
  nav {
    flex-direction: row;
  }
  nav img {
    margin-bottom: 0;
  }
  .search-container {
    margin: 0 1rem;
  }
}

#search-icon { 
  width: 0.8rem; /*Lupa*/
}

/* === CARROSSEL*/

.carousel {
  position: relative;
  width: 100%;
  max-width: 1700px; /* ou o valor que quiser */
  height: 600px; /* altura tipo banner menor */
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  margin-bottom: 40px;
}

.carousel figure {
  display: flex;
  margin: 0;
  padding: 0;
  animation: slide 16s infinite;
}

.carousel .slide {
  flex: 0 0 100%;
  height: 100%;
}

.carousel img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* garante que toda a imagem apareça, mesmo que sobre espaço. */
  background-color: #000; /* cor de fundo para bordas geradas por contain. */
  display: block;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0%);
  }
}

.indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  animation: highlight 16s infinite;
}

.carousel:hover .carousel-track,
.carousel:hover .dot {
  animation-play-state: paused; /* Quando o mouse está sobre o carrossel, a animação para. */
}

.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 4s;
}
.dot:nth-child(3) {
  animation-delay: 8s;
}
.dot:nth-child(4) {
  animation-delay: 12s;
}

@keyframes highlight {
  0%,
  100% {
    background: rgba(255, 255, 255, 0.5);
  }
  10%,
  20% {
    background: white;
  }
}

/* container CATEGORIAS */

.container-piercings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 3rem; /* Espaço acima da seção */
  gap: 2rem; /* Espaçamento entre o título e a lista */
  text-align: center; /* Centraliza o conteúdo textual */
}

.titulo-piercings{
  margin-top: 0;
  margin-bottom: 2rem; /* Espaço entre o título e as imagens */
  font-size: 2rem;
}

.categorias {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 0;
  margin: 0;
  width: 100%;
}

.categorias img {
  width: 150px;
  height: 150px;
  margin-top: 2px;
  border-radius: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.categorias img:hover {
  transform: scale(1.05);
}

/* container Piercings */

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 1rem;
}

.btn-card {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btn-card:hover {
  background-color: #444;
}

/* Botão Whatsapp */

.btn-whatsapp {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%; /* ocupar toda a largura */
  margin-top: 0.5rem;
  padding: 0.75rem;
  background-color: #25d366;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
}

.btn-whatsapp:hover {
  background-color: #1ebe5b;
}

.redes-sociais{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

}

.redes-sociais img{
  width: 200px;
  height: 150px;
  margin-top: 2px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

h3{
  margin-top: 12px;
}

/* Newsletter Section  */

.newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  max-width: 729px;
  margin: 40px auto;
  height: 188px;
  border: 1px solid #000;
  background-color: #111;
  color: white;
  text-align: center;
  gap: 1rem;
}

.newsletter input[type="email"] {
  padding: 0.75rem 1rem;
  width: 100%;
  max-width: 400px;
  border-radius: 6px;
  border: none;
}

.newsletter button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 6px;
  background-color: rgb(226, 8, 70);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: var(--secondary-color);
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

