:root {
  --background-color: #000000;
  --font-color: #6c7570;
  --primary-color: #da2d2d;
  --primary-color: #f4f4f4;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  background: var(--background-color);
  gap: 1.5rem;
  padding: 0.5rem 1.5rem;
}

#header-nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: var;
}

#header-nav ul {
  display: flex;
  color: var(--font-color);
  list-style: none;
  gap: 0.8rem;
}

#header-logo {
  width: 3.5rem;
  height: fit-content;
  border-radius: 100%;
}

#header-nav ul li {
  color: white;
  &:first-child {
    color: var(--primary-color);
  }
  font-weight: bold;
}

#header-search-bar {
  position: relative;
}

#header-search-bar input {
  border-radius: 6%;
  height: 1.5rem;
  width: 18rem;
  padding: 0 1rem;

  & :focus::placeholder {
    position: absolute;
    bottom: 1rem;
    right: 10rem;
    transform: scaleX(0.5);
    transform: scaleY();
  }
}

#header-search-bar button {
  height: 1.8rem;
  width: 2rem;
  border-radius: 6%;
  padding: 1.5rem 0.5rem;
  border: none;
  position: absolute;
  right:0.08rem;
  top: 0.1rem;

  &:activate{
    transform: scale(0.9);
  }
}

#search-icon {
  width: 1.8rem;
}
